.btn {
  padding: 1em 3em;
  border-radius: 3em;
  background: white;
  border: 1px solid currentColor;
  cursor: pointer;
  box-shadow: 0 0 25px -10px currentColor;
  transition: transform 125ms ease-in-out;
}

.btn:hover,
.btn:focus {
  transform: scale(1.2);
}

/*
First, I am not sure why it worked, because according to https://developer.mozilla.org/en-US/docs/Web/CSS/@supports
you can only have the syntax of
@supports not selector(:focus-visible) {...}    <<< you always have to have the not in there....
 */
@supports selector(:focus-visible) {
  .btn:focus {
    transform: scale(1);
  }

  /*
  This line is for when you have clicks on to the button, e.g. button 3, it will following the above line, basically:
   .btn:hover,
   .btn:focus {
     transform: scale(1.2);
   }
   .btn:focus {
    transform: scale(1);
   }
   Which resulting btn:hover {transform: scale(1)} when btn is in hover + focus state. In order to trigger the hover scale bigger style, you will need to reinstate it in the following:
   */
  .btn:hover {
    transform: scale(1.2);
  }

  .btn:focus-visible {
    outline-offset: 0.5rem;
    transform: scale(1.2);
  }
}

.example {
  margin-block: 3rem;
  padding: 3rem;
  border-radius: 2rem;
  box-shadow: 0 0 25px -10px currentColor;
}

/* extra styling */

body {
  margin: 10vh 10vw;
}

.btn {
  padding: 1em 3em;
  border-radius: 3em;
  background: white;
  border: 1px solid currentColor;
  cursor: pointer;
  box-shadow: 0 0 25px -10px currentColor;
  transition: transform 125ms ease-in-out;
}

.btn + .btn {
  margin-left: 1em;
}

.btn-one {
  color: red;
}

.btn-two {
  color: teal;
}

.btn-three {
  color: green;
}

.btn-four {
  color: orange;
}
